@tailwind base;
@tailwind components;
@tailwind utilities;
/** Classes for the displayed toast **/
.Toastify__toast {
  border-radius: 20px;
  text-align: left;
  color: #ffffff;
  font-family: 'Poppins';
}
.Toastify__toast-body {
  padding: 0;
  margin: 0;
}
/** Icon **/
.Toastify__toast-icon {
  width: 45px;
  stroke: #ffffff;
  stroke-width: 0.6px;
}
.Toastify__toast--success .Toastify__toast-icon > svg {
  fill: #56b9a7;
}
.Toastify__toast--warning .Toastify__toast-icon > svg {
  fill: #d97706;
}
.Toastify__toast--error .Toastify__toast-icon > svg {
  fill: #b91c1c;
}
.Toastify__toast--infor .Toastify__toast-icon > svg {
  fill: #06b6d4;
}
/** Classes for the close button **/
.Toastify__close-button {
  margin: auto;
}
.Toastify__close-button > svg {
  width: 25px;
  height: auto;
  fill: #ffffff;
}
/** Classes based on the type **/
.Toastify__toast--success {
  background-color: #6eebd4;
}
.Toastify__toast--warning {
  background-color: #f59e0b;
}
.Toastify__toast--error {
  background-color: #ef4444;
}
.Toastify__toast--info {
  background-color: #22d3ee;
}
/** Classes for notifications title and message **/
.container-text-toasty {
  display: flex;
  flex-direction: column;
  line-height: 16px;
}
.title-toasty {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 3px;
}
.msg-toasty {
  font-weight: 400;
  font-size: 12px;
}
